.signUpFreeContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 70px !important;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.signUpFreeContainerCenter{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px 70px !important;
   animation-duration: 3s;
   animation-fill-mode: both;
}

.fadeInLeft{
    @keyframes fadeInLeft {
        0% {
           opacity: 0;
           transform: translateX(-20px);
        }
        100% {
           opacity: 1;
           transform: translateX(0);
        }
     }
}

.img{
    animation-duration: 3s;
    animation-fill-mode: both;
}

.imgRight{
    animation-duration: 3s;
    animation-fill-mode: both;
    text-align: right;
}

.imgCenter{
   animation-duration: 3s;
   animation-fill-mode: both;
   text-align: center;
}

.fadeInRight{
    @keyframes fadeInRight {
        0% {
           opacity: 0;
           transform: translateX(-20px);
        }
        100% {
           opacity: 1;
           transform: translateX(0);
        }
     }
}

.fadeInLeftDelay{
    animation-delay:2s;
    @keyframes fadeInLeft {
        0% {
           opacity: 0;
           transform: translateX(-20px);
        }
        100% {
           opacity: 1;
           transform: translateX(0);
        }
     }
}